
<div  style="display: flex; flex-wrap: wrap; justify-content: center;">
    <div *ngFor="let flight of vuelos" style="width: 20%; margin: 1rem;">
        <div class="card" >
          <img [src]="flight.companyLogo" class="card-img-top" alt="Logo de la compañía">
          <div class="card-body">
            <h5 class="card-title">{{ flight.cityDestination }} <span>Precio: {{ flight.price | currency:'USD' }}</span></h5>
            <span>{{flight.countryDestination}}</span>
            <ul class="list-group list-group-flush">
             
              <li class="list-group-item"> <p><i class="bi bi-airplane"></i>Take Off</p> {{flight.from | date:'MMMM d, y, h:mm a'}} </li>
              <li class="list-group-item"> <p><i class="bi bi-airplane"></i>Landing</p> {{flight.to | date:'MMMM d, y, h:mm a'}} </li>
            </ul>
            <a href="#" class="btn btn-primary" (click)="emitEvent(flight.destinationId)">Select</a>
          </div>
        </div>
    </div>
</div>